@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
  --primary-color: #2e2e2e;
  --secondary-color: #262626;
  --accent-color: #f48fb1;
  --btn-border-color: #383737;
  --contrast-primary-color: #bf5f82;

  --button-height: 15px;
}

body {
  overflow: hidden;
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
}



.animation-player {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.animation-config {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  background-color: var(--primary-color);
  width: 25%;
  max-width: 400px;
  justify-content: space-between;
  padding: 10px;
  flex-direction: column;

}

.btn-group {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn-config {
  border: 2px solid var(--btn-border-color);
  border-radius: 6px;
  font-size: 14px;
  width: 40%;
  padding: 10px 20px;
  font-family: 'Roboto';
}
.animate{
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.animate:hover {
  background-color: var(--contrast-primary-color);
}

.reset{
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.reset:hover {
  background-color: var(--btn-border-color);
  
}

.animation {
  position: relative;
   background-color: var(--secondary-color); 
  display: flex;
  height: 100%;
  flex-grow: 1;
  /* perspective gives us a 3d space within the element to work with*/
  /* perspective also has the effect of pushing the content "down" */
  /* perspective: 450px;  */
}

.media-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  background: linear-gradient(transparent, rgb(20, 20, 20));
  padding: 10px;
}

.btn-media {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-media:hover {
  background-color: var(--contrast-primary-color);
}

.hidden {
  display: none;
}



.animation-container {
   /* width: 80%;
  height: 7500px;
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 12s linear forwards; 
  animation-play-state: paused;  */
  width: 100%;
  overflow: hidden;
  height: 100%;
}


@keyframes scroll {
	from { transform: translateY(0) translateZ(0) rotateX(20deg); }
	to { transform: translateY(-5000px) translateZ(-2000px) rotateX(21deg); }
} 
