@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
  --primary-color: #2e2e2e;
  --secondary-color: #262626;
  --accent-color: #ffc107;
  --btn-border-color: #383737;
  --contrast-primary-color: #c79100;
  --accent-color-dark: #6e5202;
  --form-contrast-color: #bbbbbb;
  --button-height: 15px;
  --default-border-radius: 6px;
}

body {
  overflow: hidden;
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  color: white;
}

.animation-player {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.form {
  display: flex;
  background-color: var(--primary-color);
  width: 25%;
  max-width: 400px;
  justify-content: space-between;
  padding: 10px 20px;
  flex-direction: column;
  box-shadow: 0 0px 38px rgba(0, 0, 0, 0.25), 0 50px 50px rgba(0, 0, 0, 0.22);
}

.animation-config {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.input-container {
  position: relative;
}

.form-field {
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: var(--secondary-color);
  font-family: Roboto;
  color: var(--form-contrast-color);
  margin: 5px;
  padding: 10px 5px;
}

.form-field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field:hover {
  outline: none;
  border-color: var(--accent-color);
}

.form-field .slider {
  border: 0;
  padding: 0;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 23px;
  background: none;
  border-radius: var(--default-border-radius);
  margin: 5px 5px 5px 5px;
  padding: 0;
}

.color-container {
  display: flex;
}

.color-container>* {
  align-self: center;
}

input[type=range] {
  height: 17px;
  -webkit-appearance: none;
  margin: 5px;
  padding: 5px;
  width: 100%;
  background: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: var(--secondary-color);
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: var(--secondary-color);
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: var(--accent-color);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: var(--accent-color);
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: var(--accent-color);
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: var(--accent-color);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--secondary-color);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--secondary-color);
}

.form-lable {
  font-family: Roboto;
  font-size: 13.3px;
  color: var(--form-contrast-color);
  margin: 5px 0px 5px 5px;
  padding: 5px 0px 5px 5px;
}

.btn-group {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-config {
  border: 2px solid var(--btn-border-color);
  border-radius: var(--default-border-radius);
  ;
  font-size: 14px;
  width: 40%;
  padding: 10px 20px;
  font-family: 'Roboto';
  cursor: pointer;
}

.animate {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.animate:hover {
  transition: background-color 0.3s;
  background-color: var(--contrast-primary-color);
}

.reset {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.reset:hover {
  transition: background-color 0.3s;
  background-color: var(--btn-border-color);
}

.animation {
  position: relative;
  background-color: var(--secondary-color);
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.media-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  padding: 10px;
}

.btn-media {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn-media:hover {
  transition: background-color 0.3s;
  background-color: var(--contrast-primary-color);
}

.hidden {
  display: none;
}

.animation-container {
  width: 100%;
  overflow: hidden;
  height: 100%;
}


@keyframes scroll {
  to {
    transform: translateY(calc(-100% - 1000px));
  }
}

.animation-background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.animation-top-gradient {
  height: 20%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.animation-webpage {
  width: 100%;
  align-self: flex-start;
  border: 0;
}

.logo {
  color: var(--accent-color);
  margin: 0;
  border-radius: 10px;
  display: flex;

}

.logo h1 {
  display: inline;
  align-self: center;
}

.logo img {
  display: inline;
  align-self: center;
  width: 4em;
  height: 4em;
  margin-left: -7px;
}

.top-navigation {
  z-index: 10;
  display: flex;
  flex-direction: row;
  height: 50px;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.btn-top {
  padding: 10px 20px;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 20px;
  height: 50px;
  border-radius: var(--default-border-radius);
  ;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 14px;
  outline: 0;
  cursor: auto;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-top:hover {
  transition: background-color 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.btn-top img {
  align-self: center;
}

.btn-top span {
  align-self: center;
  margin-left: 1em;
}

.btn-top img {}

.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  display: none;
}

.save-form-wrapper {
  align-self: center;
  background-color: var(--primary-color);
  border-radius: var(--default-border-radius);
  padding: 10px 20px;
  box-shadow: 0 0px 38px rgba(0, 0, 0, 0.8), 0 50px 50px rgba(0, 0, 0, 0.8);
}

.save-form {
  display: flex;
  flex-direction: column;
}

.save-form>* {
  margin: 5px;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

.top-bar nav {
  align-self: center;
}

.top-bar {
  background-color: var(--primary-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.6), 0 10px 10px rgba(0, 0, 0, 0.55);
  z-index: 100;
}

.main-container {
  background-color: var(--secondary-color);
  height: 100vh;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}

.animation-list-container {
  max-width: 1000px;
  align-self: flex-start;
  display: grid;
  grid-auto-rows: minmax(auto, 100px);
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.animation-list-item {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: var(--primary-color);
  transition: all .2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.animation-list-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.animation-list-item .color-bar {
  background: linear-gradient(to right, var(--accent-color), #ff7707);
  height: 7px;
  width: 100%;
}

.animation-list-item .card-title {
  margin: 10px 20px 10px 20px;
  align-self: center;
}

.animation-list-item .delete-btn {
  background: none;
  border: none;
  opacity: 0.8;
  padding: 0;
  margin: 0px 10px;
  cursor: pointer;
  align-self: center;
}

.animation-list-item .delete-btn:hover {
  opacity: 1;
}

.animation-list-item .top-part {
  display: flex;
  justify-content: space-between;
}

.animation-list-item .animation-id {
  margin: 0;
  padding: 0;
  opacity: 0.3;
  margin: 10px;
  margin-bottom: 0;
  font-size: 0.8em;
}

.empty-view {
  opacity: 0.5;
  display: none;
}